<table class="table table-striped" aria-labelledby="tableLabel" *ngIf="assetsData && assetsData.length">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Population</th>
      <th>Level</th>
      <th>Owner</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of assetsData">
      <td>{{ item.name }}</td>
      <td>{{ item.type }}</td>
      <td>{{ item.population }}</td>
      <td>{{ item.level }}</td>
      <td>
        <ng-container *ngIf="item.idOwner_FK; else buyButton">
          {{ playerNames.get(item.idOwner_FK) }}
        </ng-container>
        <ng-template #buyButton>
          <button (click) = 'buy(item.id)'>Buy</button> 
        </ng-template>
      </td>
    </tr>
  </tbody>
</table>