<aside class="profile">
      <h2>Your Details</h2>
      <p><strong>Username:</strong> {{ username }}</p>
      <p><strong>Funds:</strong> ${{ funds }}</p>
</aside>

<nav class="navbar">
      <ul>
            <li (click)="showAssets()">My Assets</li>
            <li (click)="showIndustries()">My Industries</li>
            <li (click)="showStock()">My Stock</li>
            <li (click)="showNeeds()">My Needs</li>
            <li (click)="showRailways()">My Railways</li>
            <li (click)="showTrains()">My Trains</li>
      </ul>
</nav>
<section>
      <app-my-assets *ngIf="showAssetsFlag"></app-my-assets>
      <app-my-stock *ngIf="showStockFlag"></app-my-stock>
      <app-my-needs *ngIf="showNeedsFlag"></app-my-needs>
      <app-my-railways *ngIf="showRailwayFlag"></app-my-railways>
      <app-my-trains *ngIf="showTrainsFlag"></app-my-trains>
      <app-my-industries *ngIf="showIndustriesFlag"></app-my-industries>
</section>